<div class="p-grid ">
    <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form [formGroup]="searchForm" (ngSubmit)="onSubmitSearchDemande(searchForm)">
            <div class="form-row">
                <div class="col-12 col-md-9 mb-2 mb-md-0">
                    <input pInputText class="form-control form-control-lg" type="text" formControlName="keyword" placeholder="Enter your serach keyword...">
                </div>
                <div class="col-12 col-md-3">
                    <button class="btn btn-primary btn-block btn-lg" type="submit" >Search</button>
                </div>
            </div><br>
        </form>
    </div>
    <br>

        
    <!--<div  *ngIf="this.list.length!==0">  -->  
        <div class="p-col-12">
            <div class="p-grid">
                <div class="p-col-6" *ngFor="let demande of this.list">
                    <p-card header="id demande :: {{demande.demande.mIdDemande}}" [subheader]="type" [style]="{width: '500px'}" styleClass="ui-card-shadow">
                        <p-header>
                            <img src="Card" src="./assets/img/donation2.jpg" height="300px" width="250px">
                        </p-header>
                        <div>
                            <p>{{description}}</p><br>
                            <div [ngSwitch]="demande.type">
                                <div *ngSwitchCase="'machine'">
                                    <b>Nom de la machine</b>::{{demande.machine.nomMachine}}<br>
                                    <b>Type de la machine</b>::{{demande.machine.typeMachine}}<br>
                                </div>
                                <div *ngSwitchCase="'livre'">
                                    <b>Titre du livre::</b>{{demande.livre.mTitre}}<br>
                                    <b>Nom de l'auteur::</b>{{demande.livre.mNomAuteur}}<br>
                                    <b>Genre::</b>{{demande.livre.mGenre}}<br>
                                </div>
                                <div *ngSwitchCase="'vetement'">
                                    <b>Taille::</b>{{demande.vetement.mTaille}}<br>
                                    <b>Categorie::</b>{{demande.vetement.mCategorie}}<br>
                                </div>
                                <div *ngSwitchDefault>type of Object not Found!</div>
                            </div>
                            <!--<h5>Type de demande::{{type_demande}}</h5><br>-->
                            <br>
                            
                            <b>Demande le : </b>{{demande.demande.mDateDemande}}<br><!--[style]="{margin-right: 30px}"-->
                            <b>Status ::</b>{{demande.demande.mStatus}}<br>
                            <b>quantite::</b>{{demande.demande.mQuantite+1}}<br>
                            <b style="color: skyblue;">-------informations sur demandeur----------</b><br>
                            <b>Nom Complet</b>::{{demande.personne.mNom}} {{demande.personne.mPrenom}}<br>
                                <div class="p-grid">
                                    <div class="p-col"> <b>Conact::</b>{{demande.personne.mTelephone}}</div>
                                    <div class="p-col"><img src="./assets/img/user.png"></div>
                                </div>
                            
                    </div>
                    <form [formGroup]="donationForm"><!--(ngSubmit)="onSubmitDonation(formGroup)"-->
                        <label for="quantity"><b>Quantite </b></label>
                        <input type="number" id="quantity" formControlName="quantity"/>
                        <p-orderList [value]="depots" [listStyle]="{'height':'250px'}" header="Depots" filterBy="brand" filterPlaceholder="Filter by brand" dragdrop="true">
                            <ng-template let-depot pTemplate="item">
                                <div class="ui-helper-clearfix">
                                    <img src="./assets/img/depots/{{depot.brand}}.jpg" style="display:inline-block;margin:2px 0 2px 2px" width="48">
                                    <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{depot.nom}} - {{depot.adresse}}</div>
                                </div>
                            </ng-template>
                        </p-orderList>
                    </form>
                    <p-footer>
                        <p-toggleButton [(ngModel)]="buttonChecked" onLabel="I donate" offLabel="I cancel" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'150px'}" (click)="toggleClick(buttonChecked,demande,donationForm)"></p-toggleButton>
                    </p-footer>
                </p-card>
            </div>
        </div>

    </div>
</div>
