<div class="p-grid p-col-justify-center">
    <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form [formGroup]="searchForm" (ngSubmit)="onSubmitSearchDemande(searchForm)">
            <div class="form-row">
                <div class="col-12 col-md-9 mb-2 mb-md-0">
                    <input pInputText class="form-control form-control-lg" type="text" formControlName="keyword" placeholder="Enter your serach keyword...">
                </div>
                <div class="col-12 col-md-3">
                    <button class="btn btn-primary btn-block btn-lg" type="submit" >Search</button>
                </div>
            </div><br>
        </form>
    </div>
    <br>
    <div *ngIf="this.list.length!==0">    
        
        <div *ngFor="let demande of this.list">
        <p-card header="Id Demande :: {{demande.demande.mIdDemande}}" [subheader]="type" [style]="{width: '700px'}" styleClass="ui-card-shadow">
            <p-header>
                <img src="Card" src="./assets/img/donation.jpeg" height="500px" width="250px">
            </p-header>
            <div>
                <h2>{{description}}</h2><br>
                <div [ngSwitch]="demande.type">
                    <div *ngSwitchCase="'machine'">
                        <h3>Nom de la machine::{{demande.machine.nomMachine}}</h3><br>
                        <h3>Type de la machine::{{demande.machine.typeMachine}}</h3><br>
                    </div>
                    <div *ngSwitchCase="'livre'">
                        <h3>Titre du livre::{{demande.livre.mTitre}}</h3><br>
                        <h3>Nom de l'auteur::{{demande.livre.mNomAuteur}}</h3><br>
                        <h3>Genre::{{demande.livre.mGenre}}</h3><br>
                    </div>
                    <div *ngSwitchCase="'vetement'">
                        <h3>Taille::{{demande.vetement.mTaille}}</h3><br>
                        <h3>Categorie::{{demande.vetement.mCategorie}}</h3><br>
                    </div>
                    <div *ngSwitchDefault>type of Object not Found!</div>
                </div>
                <!--<h5>Type de demande::{{type_demande}}</h5><br>-->
                <br>
                <div class="p-grid">
                <h2><b>Demande le : {{demande.demande.mDateDemande}}</b></h2><br><!--[style]="{margin-right: 30px}"-->
                <h2><b>Status ::{{demande.demande.mStatus}}</b></h2><br>
                <h2>quantite::{{demande.demande.mQuantite}}</h2>
                <h5>-------informations sur demandeur--------------- </h5><br>
                    <h5>Nom Complet::{{demande.personne.mNom}} {{demande.personne.mPrenom}}</h5>
                    <h5>Conact::{{demande.personne.mTelephone}}</h5>
                </div>
            </div>
            <form [formGroup]="donationForm"><!--(ngSubmit)="onSubmitDonation(formGroup)"-->
                <label for="quantity"><h5>quantite:</h5></label>
                <input type="number" id="quantity" formControlName="quantity"/>
                <p-orderList [value]="depots" [listStyle]="{'height':'350px'}" header="Depots" filterBy="brand" filterPlaceholder="Filter by brand" dragdrop="true">
                    <ng-template let-depot pTemplate="item">
                        <div class="ui-helper-clearfix">
                            <img src="./assets/img/depots/{{depot.brand}}.jpg" style="display:inline-block;margin:2px 0 2px 2px" width="48">
                            <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{depot.nom}} - {{depot.adresse}}</div>
                        </div>
                    </ng-template>
                </p-orderList>
            </form>
            <p-footer>
                <p-toggleButton [(ngModel)]="buttonChecked" onLabel="I donate" offLabel="I cancel" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'150px'}" (click)="toggleClick(buttonChecked,demande,donationForm)"></p-toggleButton>
            </p-footer>
        </p-card>

        </div>
    </div>
</div>
