<div>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="#">Donations website</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">About</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Contact Us</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Notifications</a></li>
                </ul><span class="navbar-text actions"> <a [routerLink]="['login']" routerLinkActive="router-link-active"  class="login">Log In</a><a class="btn btn-light action-button" role="button" [routerLink]="['signup']" routerLinkActive="router-link-active" >Sign Up</a></span></div>
        </div>
    </nav>
</div>

<router-outlet></router-outlet>
